body html {
    margin: 0;
    font-family: 'kalinga', sans-serif;
}
a { color:inherit; text-decoration:inherit; }
a:hover { color:; text-decoration:inherit; }
a:focus { color:; text-decoration:inherit; }

div.wrapper {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    padding: 0 15px 50px 15px;
    box-sizing: border-box;
}
@font-face {
    font-family: kalinga;
    src: url('fonts/kalinga.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

/** ---- HEADER ---- **/
.navbar-default {
    background-color: rgb(91, 86, 86);
    border-color: #E2E2E2;
    border-bottom: 5px solid #c03d8e;

}
.navbar-default .navbar-brand { font-size: 20px;}
.navbar-default .navbar-nav>li>a {font-size: 16px;}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Cabin', sans-serif;
     transition: 0.30s all ease;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #e0dede;
    font-family: 'Cabin', sans-serif;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #CECBCB;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel-default {
    border: none;
    box-shadow: none;
}
/** ---- CONTAINER ---- **/
div.container {
    font-family: 'kalinga', sans-serif;
}

.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: left;
}
.btn-primary {
    background-color: #c03d8e;
    border-color: #c03d8e;
    color: #fff;
    transition: 0.3s ease;
    width: 100px;
}
.btn-primary:hover {
    background-color: #c1097b;
    border-color: #c1097b;
}
i.material-icons {
    display: inline;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #5b5656;
    color: #fff;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    min-width: 104px;
}
/** ---- FORMS ---- **/

div.main_form {
    font-family: 'kalinga', sans-serif;
}

ul li {
    list-style-type:none
}
table {
    margin-bottom: 15px;
    width: 100%;
}
table tr {
    height: 10px;
    margin: 10px;
}
body td {
    width: 50%;
    padding-bottom: 5px;
}
td span {
    width: 55%;
}
table td input[type=text] {
    width: 50%;
    padding: 2px 2px 1px 5px;
    font-size: 15px;
}
input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background: #c03d8e;;
    color: #fff;
}
form p {
    line-height: 1.5em;
}

/** ---- OVERZICHT PERSONEN ---- **/

div.overview_head,
div.span_table {
    padding-left: 25px;
}
div.search_form,
div.overview_head {
    padding-top: 0px;
}
div.container div.search_form {
    padding-top: 10px;
    padding-left: 25px;
}

div.overview span.id { width: 14%; display: inline-block;}
div.overview span.first_name { width: 27%; display: inline-block;}
div.overview span.last_name { width: 27%; display: inline-block;}
div.overview span.death_date{ width: 25%; display: inline-block;}
div.search_form form input,
div.search_form form input:focus {
    outline:0;
    height: 30px;
    border: none;
}
 div.search_form input[type="submit"] {
    background: #ccc none repeat scroll 0 0;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    margin-left: -5px;
    height: 27px;
}
div.search_form {
    display: inline-block;
}
 div.page_link {
    display: inline;
    margin-left: 130px;
}
div.overview ul.pagination li.active span {
    background-color: #5B5656;
    border-color: #5B5656;
}
div.overview ul.pagination li a:hover,
div.overview ul.pagination li.active span:hover {
    border-bottom: 3px solid #C03D8E;
}

/** ---- ID page  ---- **/

div.back_to a {
    float: left;
}
div.id_page div.edit {
    display: inline-block;
    width: 100%;
    height: 39px;
}
div.col-md-8.col-md-offset-2 div a i.material-icons {
    float: left;
}
div a i.material-icons {
    height: 40px;
    width: 60px;
    padding: 9px 0 0px 16px;
    background-color: #aaa4a8;
    color: #fff;
    transition: 0.2s ease;
}
div.id_page p {
    background: #aaa4a8;
    color: #fff;
    display: inline;
    float: left;
    font-size: 15px;
    padding: 11px;
    height: 40px;
    width: 200px;
}
div a i.material-icons:hover {
    color: #5B5656;
}
div.id_page h3 {
    padding-top: 10px;
}

div.edit_button a{
    width: 180px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: #5B5656;
    color: #fff;

}

.center_panel.overview a {
    padding: 10px 20px;
    width: 31.33%;
    float: left;
    background: #c03d8e;
    border-radius: 3px;
    margin: 1%;
    color: #fff;
}

.center_panel.overview ul { padding:0; }

.input_error { border:red 1px solid !important; }
.error_message {     background: #c03d8e;
    color: #fff;
    padding: 3px 10px 2px 10px;
    margin-left: 20px; position:relative; }
.error_message::after { content: '';
    position: absolute;
    border: 13px solid transparent;
    border-right: 10px solid #c03d8e;
    left: -23px; top:0; }
