/** ---- PDF  ---- **/
body {
	 font-family: "helvetica";
}
h2 {
	font-size: 20px;
	font-weight: normal;
	padding: 5px;
}
div.pdf_page {
    background-image: url('../img/small_heslinga_logo.png');
    background-repeat: no-repeat;
    background-position: top right;
}
div.table_id td,
div.table_id th {
	text-align: left;
	width: 240px;
	max-width: 250px;
	border-top: none;
	border-bottom: 1px solid gray;
	border-right: 0px solid gray;
	border-left: 0px solid gray;
	padding: 5px;
}
div.table_id {
	margin-top: 20px;
}
div.table_id table {
	margin-bottom: 20px;
	border-collapse: collapse;
}
div.heslinga_adres {
	font-size: 14px;
	float: right;
}
